* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
      font-family: "Zalando Sans SemiExpanded", sans-serif;
      background-color: #f4f4f4;

}

.container {
    max-width: 1150px;
    margin: auto;
    box-sizing: border-box;

}

/* Header */

.meet-the-team-header {
    text-align: center;
    margin-top: 7rem;
}

.meet-the-team-heading {
    font-size: 34px;
    margin: 1rem;
    color: #235699;
}

.meet-the-team-text {
    width: 500px;
    margin: 0 auto;
}

/* Grid Card */

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3rem;
}

.grid-card {
    width: 350px;
    background-color: #f4f4f4;
    border-radius: 8px;
    -webkit-box-shadow: 1px 7px 10px 0px rgba(0,0,0,0.67); 
    box-shadow: 1px 7px 10px 0px rgba(0,0,0,0.67);
    margin-top: 2rem;
}

.card-heading {
    font-size: 23px;
    margin-top: 1rem ;
    margin-bottom: 1rem;
}

.divider {
    width: 120px;
    height: 2px;
    background-color: #235699;
    margin: 1rem auto;

}

.card-text {
    padding-bottom: 2rem;
    line-height: 1.5;
}
.image-itself {
    width: 100%;
    border-radius: 8px 8px 0 0 ;
    height: 300px;
    object-fit: cover;

}

/* 




Media Queries



*/

@media (max-width:1120px) {
    .grid-container {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
}

    .grid-card {
        margin: 1rem auto;
    }    

    html {
        display: grid;
    }

    